:root {
    --uml-icon-class: url(../../../resources/icons/dark/Class.gif);
    --uml-icon-association: url(../../../resources/icons/dark/Association.gif);
    --uml-icon-property: url(../../../resources/icons/dark/Property.gif);
    --uml-icon-enumeration: url(../../../resources/icons/dark/Enumeration.gif);
    --uml-icon-enumerationliteral: url(../../../resources/icons/dark/EnumerationLiteral.gif);
}